
<html>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
    function myFunction() {
        $.post("/schema/"+document.getElementById("db_id").value,{},
                function(data, status){ //retreive response
                document.getElementById("img").src="data:image/png;base64, "+data;
                });
    }
</script>
   <body onload="myFunction()">

    

      <form action = "/result" method = "POST" id="query">
         <p id='q'>Question: <input type = "text" name = "Question" size=70 /></p>
              <select id='db_id' name="db_id" form="query" onchange="myFunction()">
                {% for key, value in db_id_list.items() %}
                      <option value={{ key }}>{{ value }}</option>
                 {% endfor %}
            </select>
         <p><input type = "submit" value = "submit" /></p> 
      </form>
       <img id='img' src="{{img}}"></img>

   </body>
</html>